<h2>Welcome {{currentUser.firstName}}</h2>
<div>Your username is {{currentUser.username}}</div>
<div>Email Address:
  <input [(ngModel)]="currentUser.emailAddress"
         class="form-control"/>
  Phone Number:
  <input [(ngModel)]="currentUser.phoneNumber"
         class="form-control"/>
  New Password:
  <input [(ngModel)]="currentUser.password"
         class="form-control"/>
  First Name:
  <input [(ngModel)]="currentUser.firstName"
         class="form-control"/>
  Last Name:
  <input [(ngModel)]="currentUser.lastName"
         class="form-control"/>
  <button (click)="updateUser(currentUser.emailAddress, currentUser.phoneNumber, currentUser.password, currentUser.firstName, currentUser.lastName)" class="btn btn-success">Update</button>
  <button (click)="coursePage()" class="btn btn-primary">Course</button>
  <button (click)="logout()" class="btn btn-danger">Log out</button>
  <a (click)="adminPage()" [ngClass]="{'disabled': currentUser.username != 'admin'}"
     class="btn btn-info float-right"
     tabindex="-1" role="button" aria-disabled="true">Admin Page</a>
</div>


<h3>Enrollments</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let enrollment of sections">
    {{enrollment.section.title}}
    <button class="float-right btn btn-warning" (click)="drop(enrollment.section)">Drop Now!!!</button>
  </li>
</ul>
